#body{
    background-color: black;
}

h2, p, button{
    font-family: 'Poppins', sans-serif;
}

#welcome{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}



#start {
    color: rgba(212, 47, 38, 1);
    font-weight: 400;
}

#netflix-img{
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@keyframes slide-top {
    0% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(0);
    }
  }


#welcome, #form{
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;  
}

@keyframes slide-right {
    0% {
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
  }


input{
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
}

button{
    padding: 0.5rem 4.5rem;
    background-color: rgba(245, 27, 15, 1);
    color: white;
    font-weight: 500;
}

.account{
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
}

#sing{
    text-decoration: none;
    color: rgba(245, 27, 15, 1);
    
}

.modal-content{
  background-color: black!important; 
  border: 2px solid grey!important;
}