#portada img {
    position: absolute;
    /* max-width: 100%; */
    object-fit: fill;
    z-index: 0;
}

#series {
    position: relative;
    z-index: 1;
}

#n-str {
    gap: 0 18rem;
}

#n-str div img:hover {
    cursor: pointer;
}


#log-prof {
    gap: 12rem;
}

#avatar img {
    width: 1.5rem;
}

#space {
    height: 22rem;
}

#sec-play div div figure:hover {
    cursor: pointer;
}

#play button {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#add {
    padding-right: 12rem;
    white-space: nowrap;
}

#panel {
    font-size: 0.6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding-top: 5px;
}

#panel div figure:hover {
    cursor: pointer;
}

/* .serie-0 {
    border: 1px solid red;
}

.serie-1 {
    border: 1px solid green;
}

.serie-2 {
    border: 1px solid blue;
} */